<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
    <meta-data
        android:name="com.yandex.maps.apikey"
        android:value="fa38298f-9b77-4fb5-9a2f-73fcd4a69960"/>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <application
        android:name=".libraries.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.CB"
        tools:targetApi="31">

        <activity
            android:name=".libraries.MapActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.AboutActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.orders.order.OrderReceiptActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.orders.OrderActivity"
            android:exported="false"
            android:label="@string/title_activity_order_actvity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.menu.lists.item.ItemEditActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".account.RegistrationActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".account.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.menu.lists.category.CategoryActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.menu.lists.item.ItemDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".account.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.CB.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Для WorkManager 2.5.0+ -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup" />
        </provider>

        <receiver android:name=".notification.NotificationReceiver" />

        <service android:name=".notification.BackgroundSoundService" />
    </application>

</manifest>